{{> head }} {{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>About Javascript</h1>
    <p>
      Spider-Man Personaje de Marvel Comics The Amazing Spider-Man 2 - Spider-Man (2).jpg Estatua de Spider-Man Primera aparición
      Amazing Fantasy #15 (10 de agosto de 1962). Creador(es) Stan Lee y Steve Ditko Interpretado por Nicholas Hammond (1977‑1979),
      Shinji Todō (como Takuya Yamashiro, 1978-1979), Tobey Maguire (2002-2007), Andrew Garfield (2012-2014), Tom Holland (2016-presente).
      Voz original Paul Soles (1967-1970), Christopher Daniel Barnes (1994-1998), Neil Patrick Harris (2003), Josh Keaton (2009),
      Drake Bell (2012-2017), Robbie Daymond (2017-presente).1​ Información Nombre original Peter Benjamin Parker Alias «El Trepamuros»,
      «Spidey», «Arácnido», «Cabeza de Telaraña», «Su Amigo y Vecino Spiderman», «El Asombroso Spider-Man» Raza Humano con superpoderes
      arácnidos Estatura 1,78 m (5 ft 10 in) Peso 76 kg (167 lb) Especialidad Fuerza sobre humana, rapidez y reflejos proporcionales
      a una araña. Capacidad de adherirse a casi cualquier superficie. Factor de curación acelerado que le permite sanar huesos
      rotos o graves heridas en los tejidos en unas horas. Sentido arácnido que le advierte del peligro. Además de los superpoderes,
      Peter es un genio y un brillante científico. Ocupación Científico, vigilante, profesor, fotógrafo, superhéroe. Equipamiento
      Mecanismos artificiales en sus muñecas que disparan telarañas inventada por él mismo que le permite columpiarse grandes distancias,
      alcanzar objetos fuera de su alcance e inmovilizar a sus enemigos. Traje formado por la tercera generación de partículas
      inestables, lo que le permite alterar la apariencia del mismo. Aliados Los Vengadores, S.H.I.E.L.D., Los 4 Fantásticos, Daredevil,
      X-Men, Deadpool, entre otros. Enemigos Norman Osborn/El Duende Verde, Eddie Brock/Venom, Cletus Kasidy/Carnage, Electro,
      Morlum, Doctor Octopus, Hombre de Arena, Lagarto, etc.
    </p>
  </div>
  <div class="col-4">
    <img src="assets/img/js.jpg" class="img-thumbnail" />
  </div>
</div>

{{> footer }}